<nav class="main-nav">
    {% if page.url != "/" %}
        <a href="{{ site.baseurl }}"> <span class="arrow">←</span> Home</a>
    {% endif %}
    {% if page.url == "/" %}
        {% if page.url != "/about/" %}
            {% if site.aboutPage %}
                <a href="{{ site.baseurl }}about">About</a>
            {% endif %}
        {% endif %}
        {% if page.url != "/seniority/" %}
            <a href="{{ site.baseurl }}seniority/">Seniority</a>
        {% endif %}
        {% if page.url != "/cv/" %}
            <a href="{{ site.baseurl }}cv/">CV</a>
        {% endif %}
        <a href="{{ site.baseurl }}feed.xml">RSS</a>
        <a class="cta" href="https://medium.com/@frontman">Blog</a>
    {% endif %}
</nav>
