<nav class="main-nav">
    {% if page.url != "/index.html" %}
        <a href="{{ site.baseurl }}"> <span class="arrow">←</span> Home</a>
    {% endif %}

    {% if page.url != "/about/" %}
        {% if site.aboutPage %}
            <a href="{{ site.baseurl }}about">About</a>
        {% endif %}
    {% endif %}
    {% if page.url != "/seniority/" %}
        <a href="{{ site.baseurl }}seniority/">Seniority</a>
    {% endif %}
    {% if page.url != "/vc/" %}
        <a href="{{ site.baseurl }}vc/">VC</a>
    {% endif %}
    <a class="cta" href="{{ site.baseurl }}feed.xml">Subscribe</a>
</nav>
